---
import { technicalExperience } from "../../constants/experience";
// import Icon  from "../../components/svelte/Icon.svelte";
import {Icon} from "astro-icon"
---

<div class="border-gradient"></div>

<div class="px-4 py-8 flex flex-col gap-8">
	<h2 class="text-4xl uppercase font-black">Technical Experience</h2>

	<div class="p-4 grid gap-4 grid-cols-cards">
		{
			technicalExperience.map(e => (
				<div class="bg-black text-white/50 text-sm flex flex-col gap-4">
					<p class="font-bold text-xl text-white flex items-center gap-4">
						<!--iconify-icon icon={e.icon} /-->
						<Icon name={e.icon} class="text-sm" height="2rem" />
						<span class="flex-1">{e.technology}</span>
					</p>
					<div class="flex flex-col gap-2">
						<p>{e.description}</p>
						<p>Proficiency : {e.expertiseRating}/5</p>
						<p>Preference : {e.preferenceRating}/5</p>
					</div>
				</div>
			))
		}
	</div>
</div>
